---
layout: page
# The Authors page layout
---

<style>
  h1,
  h2 {
    display: inline;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: var(--text-color);
    background-color: var(--topbar-wrapper-bg);
    margin: 3rem auto auto auto;
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.5s;
  }

  img {
    height: 5rem;
    width: auto;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .content {
    padding-left: 1rem;
    border-left: 2px solid var(--btn-border-color);
  }

  .content > .position {
    margin-bottom: 2rem;
    color: var(--blockquote-text-color);
  }

  .social {
    display: block;
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-top: 0.75rem;
  }

  .social a {
    text-decoration: none;
    transition: 0.5s;
    padding-right: 1rem;
  }

  .social a i {
    color: var(--heading-color);
    border: 1px solid var(--heading-color);
    border-radius: 50%;
    padding: 0.5rem;
    transition: 0.5s;
  }

  .social a i:hover {
    color: var(--social-hover);
    border-color: var(--social-hover);
    transition: 0.5s;
  }
</style>

<div class="card">
  <img src={{page.gravatar}} alt="avatar" />
  <div class="content">
    <h1>{{ page.name }} -</h1>
    <h2>{{ page.short_name }}</h2>

    <span class="social">
    {% for entry in site.data.contact %}
      {% capture url %}
        {%- if entry.type == 'github' and page.github -%}
          https://github.com/{{ page.github }}
        {%- elsif entry.type == 'twitter' and page.twitter -%}
          https://twitter.com/{{ page.twitter }}
        {%- elsif entry.type == 'email' and page.email -%}
          {% assign email = page.email | split: '@' %}
          javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
        {%- endif -%}
      {% endcapture %}

      {% if url and entry.type != 'rss' %}
      <a href="{{ url }}" aria-label="{{ entry.type }}"
        {% unless site.theme_mode %}class="order-{{ forloop.index | plus: 2 }}"{% endunless %}
        {% unless entry.noblank %}target="_blank" rel="noopener"{% endunless %}>
        <i class="{{ entry.icon }}"></i>
      </a>
      {% endif %}

    {% endfor %}
    </span>

    <h4 class="position">{{ page.position }}</h4>

    {{ content }}

    <h2>Posts</h2>
    <ul>
      {% assign filtered_posts = site.posts | where: site.author,
      page.short_name %} {% for post in filtered_posts %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
