---
layout: page
# The Authors page layout
---

<style>

  h1,
  h2 {
    display: inline;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 4fr ;
    color: var(--text-color);
    background-color: var(--topbar-wrapper-bg);
    max-width: 500px;
    margin: 3rem auto auto auto;
    border-radius: 1rem;
    padding: 1rem;
  }

  img {
    height: 5rem;
    width: auto;
    border-radius: 50%;
  }

  .content {
    padding-left: 1rem;
    border-left: 2px solid var(--btn-border-color);
  }

  .content > .position {
    margin-bottom: 2rem;
    color: var(--blockquote-text-color);
  }

  .social {
    font-size: 1.2rem;
  }

  .social a{
    text-decoration: none;
    transition: 0.5s;
  }
</style>

<div class="card">
  <img src={{page.gravatar}} alt="avatar" />
  <div class="content">
    <h1>{{ page.name }} -</h1>
    <h2>{{ page.short_name }}</h2>

    <h4 class="position">{{ page.position }}</h4>

    {{ content }}

    <h2>Posts</h2>
    <ul>
      {% assign filtered_posts = site.posts | where: site.author,
      page.short_name %} {% for post in filtered_posts %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
